form.signup,
form.login {
  margin-top: 50px;
}

#avatarImg {
  height: 200px;
  width: 200px;
}

#chatRow, #leftpane, #rightpane #contactsrightpane {
  height:100vh;
}

#password-input:invalid {
  border: solid red; 
}

#password-input:valid {
  border: solid lawngreen; 
}

#email-input:invalid {
  border: solid red; 
}

#email-input:valid {
  border: solid lawngreen; 
}

#signup-background {
  background: linear-gradient(blue, whitesmoke,rgb(76, 204, 239));
  background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}


/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #4cccef;
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
}



h1 {
  font-family: flood-std, sans-serif;

font-weight: 400;

font-style: normal;

font-size: 100px;

color: yellow;
}

#signup-header {
  font-family: flood-std, sans-serif;
  color: yellow;
  text-shadow: 1px 1px 1px black;
}

